@charset "utf-8";

@import url("./nav.css");

body{
    background-image: url("../img/Image17.jpg");
    background-size: 100%;
}

h1{
    margin-top: 0.04em;
    font-size: 5.1em;
    text-shadow: -1px -1px 0 rgb(255 255 255), 1px -1px 0 rgb(255 255 255), -1px 1px 0 rgb(255 255 255), 1px 1px 0 rgb(255 255 255);
}
.desc{
    color: aliceblue;
    text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
    font-size: 2.1em;
}

.desc2{
    color: aliceblue;
    text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
    font-size: 1.4em;
    margin-top: 1.2em;

    font-style: italic;
    visibility: hidden;
}

/*h1::after{
   content: "⌛";
}

h1::before{
    content: "⌛";
}
*/

/* LRLR.FR/TRACKLIST */
.titresecond{
    margin-top: 0.1em;
}

ol{
    color: aliceblue;
    text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);

    padding: revert;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

    column-gap: 3em;

    columns: 2;
    font-size: 2.5em;
}
li{
    margin-left: -10px;
    text-align: left;
}
.liste a{
    display: contents;
    color: skyblue;
    font-style: italic;
}
.liste .prod{
    font-style: italic;
    font-size: 0.35em;
    margin-top: -10px;
}









main a{
    display: block;
}
iframe {
    display: block;
    border-radius:12px;
    text-align: center;
    margin-left: 37%;
 }


/* ANCIEN BETA BUTTON */
/*button{
    
    background-color: black;
    color: rgb(255, 0, 0);
    
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em; 
    font-size: 3em;

    min-width: 150px;
    width: auto;
    height: 15%;
    border-radius: 30px;
    margin-top: 0.5em;
    margin-bottom: 0.1em; 
}

button img{
    width: 15%;
}

button:hover{
    background-color: rgb(88, 88, 88);
    cursor: pointer;
}
*/





/* ANCIEN NOUVEAU BUTTON (joyeux anniv aku) */
/*
button {
    --glow-color: rgb(255, 217, 217);
    --glow-spread-color: rgba(253, 39, 39, 0.57);
    --enhanced-glow-color: rgb(235, 171, 171);
    --btn-color: rgb(136, 61, 61);
    border: .25em solid var(--glow-color);

    font-family: 'Anton';
    padding: 0.8em;
    padding-left: 3em;
    padding-right: 3em; 
    font-size: 5em;
    margin-top: 0.6em;
    cursor: pointer;

    color: var(--glow-color);
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    transition: all 0.3s;
   }
   
   button::after {
    pointer-events: none;
    content: "";
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }

   */