@charset "utf-8";

#titre{
    font-size: 10em;
}

#bouton{
    margin-top: 10%;
    font-size: 3.7em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#spoti{
    margin-left: 30%;
}

#doraflogo{
    width: 100px;
}

#nav a{
    font-size: 3em;
}

#body{
    background-image: url("../img/mobilefond.jpg");
    background-size: 100%;
    
}