@charset "utf-8";

#titre{
    font-size: 10em;
}

#bouton{
    margin-top: 20%;
    font-size: 6em;
}

#doraflogo{
    width: 100px;
}

#nav a{
    font-size: 3em;
}

#body{
    background-image: url("../img/mobilefond.jpg");
    background-size: 100%;
    
}